*{
    padding: 0;
    margin: 0;
}

nav{
    background-color:  #f3f3f7;
    box-shadow: 3px 3px 5px rgba(0,00,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li a {
    text-decoration: none;
    color: black;
}

.logo {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
}

.logo span {
    color: #f68b1e;
}


.Navlinks ul li::after {
    content: "";
    width: 0;
    .logo {
        text-decoration: none;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 19px;
    }   height: 3px;
    background: #f68b1e;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.Navlinks ul li:hover::after {
    width: 100%;
}


.search-bar input{
  outline: none;
  border-radius: 50px;
  width: 420px;
  flex: 1;
  padding: 10px 8px;
  font-size: 12px;
  height: 10px;
  border: 1px solid;
    }

    .search-bar button svg {
        width: 17px;
        margin-left: -18px;
        }
        
        .search-bar button {
            width: 0px;
            height: 19px;
            cursor: pointer;
            margin-left: -12px;
        }
        
        
        .search-bar{
            width: 100%;
            max-width: 700px;
            display: flex;
            align-items: center;
            border-radius: 60px;
            padding: 10px 20px;
        }

        .nav-cart {
            color: black;
          
        }

        .nav-cart:hover{
            color:#f68b1e;
        }

        .main-body {
            background-image: url(images/male\ student.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
        }

        .foot-bar {
            background: rgb(243, 243, 247);
            display: flex;
            justify-content: space-between;
        }
        
        .foot1{
            margin-top: 30px;
            padding-left: 100px;
        }
        
        .foot2{
            margin-top: 30px;
            padding-right: 100px;
        }
        
        .foot-bar a {
            text-decoration: none;
            font-size: 17px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: black;
           line-height: 27px;
        }
        
        .foot-bar a:hover{
            color:#f68b1e;
        }
        
        .final-footer {
            background: rgb(243, 243, 247);
            display: flex;
        }
        
        .foot3{
            margin-left: 460px;
        }
        
        .foot3 svg {
        display: inline-flex;
        margin-left: 40px;
        color: rgb(16, 15, 15);
        
        }
        
        .foot3 svg:hover{
            color:#f68b1e;
        }

        .roundup-footer {
            background: rgb(243, 243, 247); 
        }

        .roundup-footer p {
            margin-left: 560px;
            
        }

        .roundup-link a {
            text-decoration: none;
            padding: 3px;
            margin-left: 80px;
            margin-top: 15px;
        }

        .roundup-1 {
            margin-top: 10px;
            margin-left: 100px;
        }

        .roundup-2 svg {
            margin-left: 100px; 
        }

        .sign-in {
            text-decoration: none;
            color:#f68b1e;
        }

        .sign-in:hover {
            color: black;
        }

        .close-svggg {
            display: none;
        }

        #products{
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin:50px ;
            gap: 20px;
            flex-wrap: wrap;
        }

        .product{
            display: flex;
            flex-basis: 250px;
            min-width: 250px;
            align-items: center;
            padding: 20px;
            padding-left: 30px;
        }

        .product:hover{
            background-color: #f3f3f7;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 8px;
            transition: 0.6s;
        }

        .product a {
            text-decoration: none;
            color: black;
        }



        @media(max-width: 700px){
        
           .logo {
                font-size: 17px;
             
            }


            .search-bar input{
              outline: none;
              border-radius: 50px;
              width: 220px;
              flex: 1;
              padding: 10px 8px;
              font-size: 12px;
              height: 2px;
              border: 1px solid;
              margin-right: -100px;
                }

                ul li {
                    font-size: 13px;
                    padding: 8px 9px;
                }
            
                .search-bar button svg {
               
                    width: 13px;
                    margin-left: 84px;
                    }
                    
                    .search-bar button {
                        width: 0px;
                        height: 19px;
                        cursor: pointer;
                        margin-left: -10px;
                    }
                    
                    
                    .search-bar{
                        width: 100%;
                        max-width: 700px;
                        display: flex;
                        align-items: center;
                        border-radius: 60px;
                        padding: 10px 20px;
                        margin-left: -70px;
                    }
            
                    .nav-cart {
                        color: black;
                        margin-right: 10px;
                    }
            
                   
            

                    nav{
                        background-color:  #f3f3f7;
                        box-shadow: 3px 3px 5px rgba(0,00,0.1);
                        /* display: flex;
                        justify-content: space-between; */
                        align-items: center;
                        padding-left: 10px;
                        padding-right: 0px;
                        height: 50px;
                    
                    }
                }

                    
.foot1{
    margin-top: 30px;
    padding-left: 27px;
}

.foot2{
    margin-top: 30px;
    padding-right: 27px;
}

.foot-bar a {
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
   line-height: 24px;
}


.foot3{
    margin-left: 80px;
    
}

.foot3 svg {
display: inline-flex;
margin-left: 40px;
color: rgb(16, 15, 15);
font-size: 17px;
margin-top: 15px;
}

.roundup-1 {
    margin-left: 70px;
}

.roundup-3{
    margin-left: -22px ;
    margin-top: -11px;
}


 @media(max-width: 400px){
        
            .logo {
                 font-size: 15px;
              
             }
 
 
             .search-bar input{
               outline: none;
               border-radius: 50px;
               width: 220px;
               flex: 1;
               padding: 10px 8px;
               font-size: 12px;
               height: 2px;
               border: 1px solid;
               margin-right: -100px;
                 }
 
                 ul li {
                     font-size: 11px;
                     padding: 6px 7px;
                 }
             
                 .search-bar button svg {
                
                     width: 13px;
                     margin-left: 84px;
                     }
                     
                     .search-bar button {
                         width: 0px;
                         height: 19px;
                         cursor: pointer;
                         margin-left: -10px;
                     }
                     
                     
                     .search-bar{
                         width: 100%;
                         max-width: 400px;
                         display: flex;
                         align-items: center;
                         border-radius: 60px;
                         padding: 10px 20px;
                         margin-left: -70px;
                     }
             
                     .nav-cart {
                         color: black;
                         margin-right: 9px;
                     }
             
                    
             
 
                     nav{
                         background-color:  #f3f3f7;
                         box-shadow: 3px 3px 5px rgba(0,00,0.1);
                         align-items: center;
                         padding-left: 10px;
                         padding-right: 0px;
                         height: 50px;
                     
                     }
 
                     
 .foot1{
     margin-top: 30px;
     padding-left: 27px;
 }
 
 .foot2{
     margin-top: 30px;
     padding-right: 27px;
 }
 
 .foot-bar a {
     text-decoration: none;
     font-size: 12px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: black;
    line-height: 22px;
 }
 
 
 .foot3{
     margin-left: 80px;
     
 }
 
 .foot3 svg {
 display: inline-flex;
 margin-left: 40px;
 color: rgb(16, 15, 15);
 margin-top: 15px;
 }
 
 .roundup-1 {
     margin-left: 70px;
 }
 
 .roundup-3{
     margin-left: -22px ;
     margin-top: -11px;
 }
         }



#cart-count{
    background: red;
    padding: 4px;
    padding-left:8px ;
    padding-right:8px ;
    margin-left: 4px;
    border-radius:100px;
    color: white;
    font-size: smaller;
}